nav{ 
  width:500px;
  z-index: 9345384958349;
}
.buttomsNav , .limode{ 
  padding:40px;
  

  text-align: center;
  margin-right: 10px;
  padding-left: 0;
}
.buttomsNav>a>button , .limode>.mode{
 text-align: left;
  width: 90px;
  


}